MONGO_INITDB_ROOT_USERNAME=vision_cafe
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=mongodb://vision_cafe:change-me@mongodb:27017/vision_cafe?authSource=admin
MONGODB_DB=vision_cafe

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

ADMIN_PASSWORD=

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_ROSTER_SPREADSHEET_ID=17cjlPAv5aGakuZYJWvoHnn2nxVs-rOTBxrUvYCrl8ZQ
GOOGLE_SHEETS_ROSTER_SHEET_NAME=學員帳號
